PORT=4000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ncc_indent
JWT_SECRET=KN8A8YR3xXrZHwvp5Davxr5kaZM05LScpQ4hQcFss0ZbNgNRGHxzrpzYA2GbC+tcC7oppzx87jp9ee1vc+Zb4g==
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
    
